.heading {
    text-align: center;
    font-family: "Papyrus", fantasy;
    font-size: 30px;
    color: beige;
}
.heading h1 {
    font-family: "Papyrus", fantasy;
    font-size: 50px;
}

.heading h3 {
    font-family: "Papyrus", fantasy;
    font-size: 20px;
}

.panel {
    float: left;
    width: 17%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 40px;
}

.panel button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(62, 137, 202, 0);
    width: 15%;
    padding: 50px;
    color: white;
    border: none;
    text-align: left;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 20px 15px 0 rgba(85, 195, 209, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.whole {
    position: absolute;
    top: 50%;
    left: 17%;

}

.about {
    width: 90%;
}

/*.line {
    width: 112px;
    height: 47px;
    border-bottom: 1px solid white;
    position: absolute;
}*/
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

.skills {
    width: 60%;
}

/* Stylingthe last h2 tag by giving margin bottom */
.progress-bar-container:not(:last-child) {
    margin-bottom: 50px;
}

/* Styling the h2 tag by giving color,
letter spacing, font-size etc.*/
.progress-bar-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    letter-spacing: 1px;
    font-size: 20px;
}

/* Styling the border and box
        effect of the progress bar*/
.progress-bar {
    width: 800px;
    height: 5px;
    margin-top: 10px;
    border: 1px solid #565656;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(85, 195, 209, 0.2);
}

/* Stylingthe background color of each
        animation and border radius */
.percentage {
    display: block;
    height: 100%;
    background-color: rgba(85, 195, 209, 0.2);
    border-radius: 5px;
    animation: progress 1500ms ease-in 1;
}

/* Assigning width of each languages*/
.c {
    width: 85%;
}

.java {
    width: 70%;
}

.python {
    width: 55%;
}

.html {
    width: 75%;
}

.css {
    width: 65%;
}

.javascript {
    width: 55%;
}

/* Animating the progress bar by
        initially starting from 0*/
@keyframes progress {
    from {
        width: 0;
    }
}

.project {
    width: 90%;
}

.project1 {
    width: 100%;
    float: left;
}

.project2 {
    width: 100%;
    float: right;
}

.project3 {
    width: 100%;
    float: right;
}

.coloum {
    width: 50%;
    float: left;
}

.contact {
    width: 90%;
    text-align: left;
}

.contact {
    width: 90%;
}

#name,#email,#subject,#msg {
    background-color: rgba(85, 195, 209, 0.2);
    font-size: 15px;
    width: 70%;
    padding: 10 15px;
    margin: 10px 5px;
    border: none;
    border-bottom: 4px solid rgba(85, 195, 209, 0.2);
}

.touch {
    float: right;
    font-size: 20px;
    width: 40%;
    padding: 5px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    border: 4px solid rgba(85, 195, 209, 0.2);
    border-radius: 5px;
}

.send {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(85, 195, 209, 0.2);
}

.social ul {
    list-style-type: none;
    padding: 0;
}

a.hover:hover, a.hover:active {letter-spacing:10px;}
button.send:hover, button.send:active {font-size: 100%;}
